/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./assets/back.png);
  background-size:contain;
}
.iti {
  width: 100%;
}
.hoverIcoClass {
  @apply p-2 rounded-sm hover:text-slate-100 transition ease-in-out duration-200;
}
.inputClass {
  @apply  w-full p-2 mt-2 font-medium rounded-sm border-2 hover:border-customOrange transition ease-in-out duration-200;
}
.labelClass{
  @apply font-bold text-xl flex items-center mr-2 text-customOrange;
}
